Repository BWalusiak/uaim_lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

lint:dd:
  stage: lint
  script:
  - cd $DD_SOURCE_CODE_PATH
  - dotnet tool restore
  - dotnet dotnet-format --check

test:dd:
  stage: test
  script:
  - cd $DD_SOURCE_CODE_PATH
  - dotnet restore --packages $NUGET_PACKAGES_DIRECTORY
  - dotnet test --no-restore
  dependencies:
  - build:dd

build:dd:
  stage: build
  script:
  - cd $DD_SOURCE_CODE_PATH
  - dotnet restore --packages $NUGET_PACKAGES_DIRECTORY
  - dotnet build --no-restore

publish:dd:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$REGISTRY_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

lint:pa:
  stage: lint
  script:
  - cd $PA_SOURCE_CODE_PATH
  - dotnet tool restore
  - dotnet dotnet-format --check

test:pa:
  stage: test
  script:
  - cd $PA_SOURCE_CODE_PATH
  - dotnet restore --packages $NUGET_PACKAGES_DIRECTORY
  - dotnet test --no-restore
  dependencies:
  - build:pa

build:pa:
  stage: build
  script:
  - cd $PA_SOURCE_CODE_PATH
  - dotnet restore --packages $NUGET_PACKAGES_DIRECTORY
  - dotnet build --no-restore

publish:pa:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$REGISTRY_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

Fix CI
  .gitlab-ci.yml
  Projekt/DoctorsData/DoctorsData.Test/DoctorsData.Test.csproj
  Projekt/PatientsApp/PatientsApp.Test/PatientsApp.Test.csproj
  Projekt/PatientsApp/TEST
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Enable cache in kaniko
  .gitlab-ci.yml
Due: none

Fix kaniko
  .gitlab-ci.yml
Due: none

Split CI into separate files
  .gitlab-ci.yml
  Projekt/DoctorsData/.gitlab-ci.yml
  Projekt/PatientsApp/.gitlab-ci.yml
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Add continuous deployment for DoctorsData
  Miniprojekty/Kubernetes/DoctorsData/service.yaml
  Miniprojekty/Kubernetes/DoctorsData/statefulset.yaml
  Projekt/DoctorsData/.gitlab-ci.yml
Due: lint:dd, test:dd, build:dd, publish:dd

Fix CD
  Projekt/DoctorsData/.gitlab-ci.yml
Due: lint:dd, test:dd, build:dd, publish:dd

Add CD for PatientsApp
  Miniprojekty/Kubernetes/PatientsApp/deployment.yaml
  Miniprojekty/Kubernetes/PatientsApp/service.yaml
  Projekt/PatientsApp/.gitlab-ci.yml
Due: lint:pa, test:pa, build:pa, publish:pa

Add Miniprojekty to pipeline triggers
  .gitlab-ci.yml
Due: none

Fix CI cache
  Projekt/DoctorsData/.gitlab-ci.yml
  Projekt/PatientsApp/.gitlab-ci.yml
  Projekt/PatientsApp/TEST
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Add runner tags
  Projekt/DoctorsData/.gitlab-ci.yml
  Projekt/PatientsApp/.gitlab-ci.yml
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Fix CI/CD
  Laboratorium/DoctorsApp/.gitlab-ci.yml
  Laboratorium/ExaminationRooms/.gitlab-ci.yml
  Laboratorium/ExaminationRoomsSelector/.gitlab-ci.yml
  Laboratorium/WebApp/.gitlab-ci.yml
  Projekt/DoctorsData/.gitlab-ci.yml
  Projekt/PatientsApp/.gitlab-ci.yml
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Fix Dockerfile location of Lab projects in CI/CD
  Laboratorium/DoctorsApp/.gitlab-ci.yml
  Laboratorium/ExaminationRooms/.gitlab-ci.yml
  Laboratorium/ExaminationRooms/ExaminationRooms/Dockerfile
  Laboratorium/ExaminationRoomsSelector/.gitlab-ci.yml
Due: none

Fix selector service k8s config
  Laboratorium/ExaminationRoomsSelector/k8s/service.yaml
Due: none

Add new feature
  Projekt/PatientsApp/PatientsApp.BusinessLogic/Matchers/BestDoctorMatcher.cs
  Projekt/PatientsApp/PatientsApp.Web/Application/Queries/IPatientsQueryHandler.cs
  Projekt/PatientsApp/PatientsApp.Web/Application/Queries/PatientQueryHandler.cs
  Projekt/PatientsApp/PatientsApp.Web/Controllers/PatientsAppController.cs
Due: lint:pa, test:pa, build:pa, publish:pa

Fix statefulsets for Lab
  Laboratorium/DoctorsApp/.idea/.idea.DoctorsApp/.idea/.gitignore
  Laboratorium/DoctorsApp/.idea/.idea.DoctorsApp/.idea/projectSettingsUpdater.xml
  Laboratorium/DoctorsApp/.idea/.idea.DoctorsApp/.idea/workspace.xml
  Laboratorium/DoctorsApp/k8s/statefulset.yaml
  Laboratorium/ExaminationRooms/k8s/statefulset.yaml
Due: none

Improve .dockerignore throughout the repository
  Laboratorium/WebApp/.dockerignore
  Projekt/DoctorsData/.dockerignore
  Projekt/PatientsApp/.dockerignore
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Fix namespaces in uwp
  Projekt/DoctorsUwpFrontendClientApplication/DoctorsUwpFrontendClientApplication.App/App.xaml.cs
  Projekt/DoctorsUwpFrontendClientApplication/DoctorsUwpFrontendClientApplication.App/ViewModels/DoctorViewModel.cs
  Projekt/DoctorsUwpFrontendClientApplication/DoctorsUwpFrontendClientApplication.App/ViewModels/MatchViewModel.cs
  Projekt/DoctorsUwpFrontendClientApplication/DoctorsUwpFrontendClientApplication.App/ViewModels/PatientViewModel.cs
  Projekt/DoctorsUwpFrontendClientApplication/DoctorsUwpFrontendClientApplication.App/ViewModels/SexMatchViewModel.cs
Due: none

Improve webapp, fix lab docker-compose-dev
  Laboratorium/WebApp/BlazorServer/BlazorServer.csproj
  Laboratorium/WebApp/BlazorServer/Pages/Match.razor
  Laboratorium/WebApp/BlazorServer/Pages/Matches.razor
  Laboratorium/WebApp/BlazorServer/Startup.cs
  Laboratorium/WebApp/BlazorServer/_Imports.razor
  Laboratorium/docker-compose-dev.yml
Due: none

Fix CI variables usage
  Laboratorium/DoctorsApp/.gitlab-ci.yml
  Laboratorium/ExaminationRooms/.gitlab-ci.yml
  Laboratorium/ExaminationRoomsSelector/.gitlab-ci.yml
  Laboratorium/WebApp/.gitlab-ci.yml
  Projekt/DoctorsData/.gitlab-ci.yml
  Projekt/PatientsApp/.gitlab-ci.yml
Due: lint:dd, test:dd, build:dd, publish:dd, lint:pa, test:pa, build:pa, publish:pa

Add k8s configs and fix app name for web app
  Miniprojekty/Kubernetes/DoctorsWebApp/deployment.yaml
  Miniprojekty/Kubernetes/DoctorsWebApp/service.yaml
  Projekt/DoctorsWebApp/.gitlab-ci.yml
  Projekt/DoctorsWebApp/BlazorServer/Shared/NavMenu.razor
Due: none

Add webapp test
  Projekt/DoctorsWebApp/DoctorsWebApp.sln
  Projekt/DoctorsWebApp/Model/Configuration/ServiceConfiguration.cs
  Projekt/DoctorsWebApp/Test/ServiceConfigurationTest.cs
  Projekt/DoctorsWebApp/Test/Test.csproj
Due: none

Update IMG_20210628_224836_2.jpg
  IMG_20210628_224836_2.jpg
Due: none

Change docker repo
  Projekt/DoctorsData/DoctorDataTests.sh
  Projekt/docker-compose-dev.yml
  Projekt/docker-compose.yml
Due: lint:dd, test:dd, build:dd, publish:dd

Path conditions:
  lint:dd: any of: Projekt/DoctorsData/**/*, .gitlab-ci.yaml
  test:dd: any of: Projekt/DoctorsData/**/*, .gitlab-ci.yaml
  build:dd: any of: Projekt/DoctorsData/**/*, .gitlab-ci.yaml
  publish:dd: any of: Projekt/DoctorsData/**/*, .gitlab-ci.yaml
  lint:pa: any of: Projekt/PatientsApp/**/*, .gitlab-ci.yaml
  test:pa: any of: Projekt/PatientsApp/**/*, .gitlab-ci.yaml
  build:pa: any of: Projekt/PatientsApp/**/*, .gitlab-ci.yaml
  publish:pa: any of: Projekt/PatientsApp/**/*, .gitlab-ci.yaml
